<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <form action='/bookmarks/new-bookmark'>
      <input type='submit' value='Add Bookmark' class='standard_button'/>
    </form>

    <ul>

      <% @bookmarks.each do |bookmark| %>
        <li class='bookmark'>
          <% @visible && @visible_id == bookmark.id ? visible = 'visible' : visible = 'hidden' %>

          <a href="<%= bookmark.url %>" class='bm-title'><%= bookmark.title %></a>
          <form action='/edit/<%= bookmark.id %>' method='post' class='bm-button'>
            <input type='hidden' name='_method' value='PATCH'>
            <input class="bm-button" type="submit" value='Edit' />
          </form>
          <form action='/delete' method='post' class='bm-button'>
            <input type='hidden' name='delete_id' value='<%= bookmark.id %>' />
            <input class="del_button" type="submit" id='delete <%= bookmark.id %>' value='X' />
          </form>
          <form action='/update/<%= bookmark.id %>' method='post' style='visibility:<%= visible %>'>
            <input type='hidden' name='_method' value='PATCH'>
            <input type='text' name='title' value='<%= bookmark.title %>'/>
            <input type='text' name='url' value='<%= bookmark.url %>'/>
            <input class="bm-button" type='submit' value='Update' />
          </form>
          
        </li> 
      <% end %>
    </ul>
  </body>


</html>

